<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<style>
body {
	font-family: 'Kyobo Handwriting 2023 wsa';
}
</style>
<body>
<div id="app">
직급 입력: <input v-model="keyword" />&nbsp;
<button @click="showFunc" class="btn-hover color-10">확인</button>
<table v-if="jikdata.length > 0" border="1px">
    <tr><th>사번</th><th>이름</th><th>부서명</th><th>직급</th><th>연봉</th></tr>
    <tr v-for="(jikwon, index) in jikdata" :key="index">
        <td>{{jikwon.no}}</td>
        <td>{{jikwon.name}}</td>
        <td>{{jikwon.busername}}</td>
        <td>{{jikwon.jik}}</td>
        <td>{{jikwon.pay}}</td>
    </tr><tr><td colspan="5">인원수: {{jikdata.length}}명, 연봉 평균: {{avgpay}}</td></tr>
</table>
</div>

<script>
const { createApp } = Vue;
createApp({
    data(){
        return {
            keyword:'',
            jikdata:[],
            avgpay:0
        }
    },
    methods:{
        showFunc(){
            fetch('http://localhost:8080/jikwon/' + this.keyword)
            .then(response => {
                if(!response.ok){
                    throw new Error('AJAX 에러');
                }
                return response.json();
            }).then(data => {
                this.jikdata = data;
                this.calcAvgpay();
            }).catch(error => {
                console.log('읽기 오류: ' + error)
            });
        },
        calcAvgpay(){
            let totalpay = 0;
            this.jikdata.forEach(jikwon => {
                console.log(jikwon.pay);
                totalpay += Number(jikwon.pay);
            })
            this.avgpay = (totalpay/this.jikdata.length).toFixed(2);
        }
    }
}).mount('#app')


</script>
</body>
</html>